[all:vars]
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
ansible_ssh_pass={{ admin_password }}
{% endif %}

[login_nodes]
{% for host in ansible_loginpage_facts.vms %}
{{ host.tags.Name | regex_replace(azure_name_prefix ~ '-','') }} ansible_host={{ host.tags.public_ip_address }} ansible_user={{azure_login_names[ansible_node] }}
{% endfor %}
{% for number in range(1,student_total + 1) %}
[student{{ number }}]
{% for host in ansible_node_facts.vms %}
{% if 'student' ~ number == host.tags.Student %}
{{ host.tags.Name | regex_replace(azure_name_prefix ~ '-','') }} ansible_host={{ host.tags.public_ip_address }} ansible_user={{azure_login_names[ansible_node] }}
{% endif %}
{% endfor %}
{% for host in rtr1_node_facts.vms %}
{% if 'student' ~ number == host.tags.Student %}
{{ host.tags.Name | regex_replace(azure_name_prefix ~ '-','') }} ansible_host={{ host.tags.public_ip_address }} ansible_user={{azure_login_names[rtr1_node] }} ansible_network_os={{ host.tags.ansible_network_os }}
{% endif %}
{% endfor %}
{% for host in rtr2_node_facts.vms %}
{% if 'student' ~ number == host.tags.Student %}
{{ host.tags.Name | regex_replace(azure_name_prefix ~ '-','') }} ansible_host={{ host.tags.public_ip_address }} ansible_user={{azure_login_names[rtr2_node] }} ansible_network_os={{ host.tags.ansible_network_os }}
{% endif %}
{% endfor %}
{% if special is defined %}
{% for host in rtr3_node_facts.vms %}
{% if 'student' ~ number == host.tags.Student %}
{{ host.tags.Name | regex_replace(azure_name_prefix ~ '-','') }} ansible_host={{ host.tags.public_ip_address }} ansible_user={{azure_login_names[rtr3_node] }} ansible_network_os={{ host.tags.ansible_network_os }}
{% endif %}
{% endfor %}
{% for host in rtr4_node_facts.vms %}
{% if 'student' ~ number == host.tags.Student %}
{{ host.tags.Name | regex_replace(azure_name_prefix ~ '-','') }} ansible_host={{ host.tags.public_ip_address }} ansible_user={{azure_login_names[rtr4_node] }} ansible_network_os={{ host.tags.ansible_network_os }}
{% endif %}
{% endfor %}
{% endif %}
{% for host in host1_node_facts.vms %}
{% if 'student' ~ number == host.tags.Student %}
{{ host.tags.Name | regex_replace(azure_name_prefix ~ '-','') }} ansible_host={{ host.tags.public_ip_address }} ansible_user={{azure_login_names[host1_node] }}
{% endif %}
{% endfor %}
{% endfor %}
