---
azure_name_prefix: TRAINING
azure_region: eastus
azure_wait: yes
#need to circle back and fix this for teardown - sean
azure_az: "{{azure_region}}"
azure_subnet: "172.16.0.0/16"
azure_subnet2: "172.17.0.0/16"
networking: false
ssh_port: 22

azure_control_node:
  ansible: rhel7-tower

azure_lab_node_types:
  node1: rhel7
  node2: rhel7
  node3: rhel7

azure_lab_node_types_f5:
  f5: f5-prelicensed
  host1: rhel7

azure_lab_node_types_networking:
  rtr1: csr-byol
  rtr2: csr-byol
  host1: rhel7

all_cisco:
  rtr3: csr-byol
  rtr4: csr-byol

multivendor:
  rtr3: junos-byol
  rtr4: junos-byol

# Instance types used for lab configurations
azure_instance_types:
  junos-byol:
    owners: 679593333241
    size: Standard_D4s_v3
    os_type: linux
    disk_space: 32
    architecture: x86_64
    filter: "vmx-nested-17.4R1-S2.2-3-ami*"
    os: junos

  csr-byol:
    owners: 679593333241
    size: Standard_B2s
    os_type: linux
    disk_space: 20
    architecture: x86_64
    filter: "cisco-CSR*BYOL*"
    os: ios

  # Look for owner 309956199498 to find official Red Hat AMIs
  rhel7:
    owners: 309956199498
    size: Standard_B1s
    os_type: linux
    disk_space: 10
    architecture: x86_64
    filter: 'RHEL-7.4*GA*'

  rhel7-tower:
    owners: 309956199498
    size: Standard_B2s
    os_type: linux
    disk_space: 20
    architecture: x86_64
    filter: 'RHEL-7.4*GA*'

  f5node:
    owners: 679593333241
    size: Standard_D2s_v3
    os_type: linux
    disk_space: 40
    architecture: x86_64
    filter: 'F5 Networks Prelicensed Hourly BIGIP-13.1*Good 25MBPS*'

# Login names used for SSH connections. These are baked in to the AMIs.
azure_login_names:
  rhel7-tower: azure-user
  rhel7: azure-user
  centos7-tower: centos
  centos7: centos
  ubuntu14: ubuntu
  ubuntu16: ubuntu
  csr-byol: azure-user
  junos-byol: jnpr
  f5-prelicensed: admin
  f5_hosts: azure-user
