- name: install apache
  yum:
    name: httpd
    state: present

- name: start httpd
  service:
    name: httpd
    state: started

- name: Open ports for access
  firewalld:
    service: {{ item }}
    permanent: yes
    state: enabled
  with_items:
    - http
    - https

- name: Restart the firewalld service to load in the firewall changes
  service:
    name: firewalld
    state: restarted

- name: copy index.html
  template:
    src: index.j2
    dest: /var/www/html/index.html
