- name: Get facts for one Public IP
  azure_rm_publicipaddress_facts:
    resource_group: "{{azure_name_prefix}}"
    # tags: Workshop_f5
  register: f5_public_ip

- name: Print Public IP Information F5
  debug:
    var: f5_public_ip

- name: grab facts for f5 node (F5 MODE)
  azure_rm_virtualmachine_facts:
    resource_group: "{{azure_name_prefix}}"
    tags: Workshop_f5
  register: f5_node_facts

- name: add f5 to groups (F5 MODE)
  add_host:
    name: "{{ item.tags.Name }}"
    short_name: "{{ item.tags.short_name }}"
    ansible_host: "{{ item.tags.public_ip_address }}"
    ansible_user: "{{ f5_login }}"
    # ansible_password: admin
    ansible_port: "{{ ssh_port }}"
    ansible_ssh_private_key_file: "{{ playbook_dir }}/{{azure_name_prefix}}/{{azure_name_prefix}}-private.pem"
    private_ip: "{{item.tags.private_ip_address}}"
    groups:
      - f5
  with_items:
    - "{{ f5_node_facts.vms }}"
    - "{{ f5_public_ip }}"

- name: grab facts for host1 node (F5 MODE)
  azure_rm_virtualmachine_facts:
    resource_group: "{{azure_name_prefix}}"
    tags: Workshop_host1
  register: host1_node_facts

- name: add host1 to groups (NETWORKING MODE)
  add_host:
    name: "{{ item.tags.Name }}"
    short_name: "{{ item.tags.short_name }}"
    ansible_host: "{{ item.tags.public_ip_address }}"
    username: "{{ item.tags.Student }}"
    ansible_user: "{{ azure_login_names['rhel7'] }}"
    ansible_port: "{{ ssh_port }}"
    ansible_ssh_private_key_file: "{{ playbook_dir }}/{{azure_name_prefix}}/{{azure_name_prefix}}-private.pem"
    private_ip: "{{item.tags.private_ip_address}}"
    groups:
      - lab_hosts
      - managed_nodes
  with_items: "{{ host1_node_facts.vms }}"

- name: grab facts for host2 node (F5 MODE)
  azure_rm_virtualmachine_facts:
    resource_group: "{{azure_name_prefix}}"
    tags: Workshop_host2
  register: host2_node_facts

- name: add host2 to groups (NETWORKING MODE)
  add_host:
    name: "{{ item.tags.Name }}"
    short_name: "{{ item.tags.short_name }}"
    ansible_host: "{{ item.tags.public_ip_address }}"
    username: "{{ item.tags.Student }}"
    ansible_user: "{{ azure_login_names['rhel7'] }}"
    ansible_port: "{{ ssh_port }}"
    ansible_ssh_private_key_file: "{{ playbook_dir }}/{{azure_name_prefix}}/{{azure_name_prefix}}-private.pem"
    private_ip: "{{item.tags.private_ip_address}}"
    groups:
      - lab_hosts
      - managed_nodes
  with_items: "{{ host2_node_facts.vms }}"

- name: Generate student inventories
  template:
    src: f5_instances.txt.j2
    dest: "{{ playbook_dir }}/{{azure_name_prefix}}/student{{item}}-instances.txt"
  with_sequence: count="{{ student_total }}"

- name: Generate student etchosts
  template:
    src: etchosts_f5.j2
    dest: "{{ playbook_dir }}/{{azure_name_prefix}}/student{{item}}-etchosts.txt"
  with_sequence: count="{{ student_total }}"

- name: Generate instructor inventory
  template:
    src: instructor_inventory_f5.j2
    dest: "{{ playbook_dir }}/{{azure_name_prefix}}/instructor_inventory.txt"
