- name: grab facts for control_nodes
  azure_rm_virtualmachine_facts:
    resource_group: "{{azure_name_prefix}}"
    # tags:
    #   - Workshop_ansible:"{{azure_name_prefix}}-ansible"
    name: "{{azure_name_prefix}}.CN.student{{ item }}"
  with_sequence: start=1 end="{{ student_total }}"
  register: ansible_node_facts

- name: add ansible node to control_nodes and managed_nodes group
  add_host:
    name: "{{azure_name_prefix}}.CN.student{{ item }}"
    username: "{{ azure_login_names['rhel7'] }}"
    student: "Student{{ item }}"
    short_name: "ansible"
    ansible_host: "{{ azure_name_prefix|lower }}-student{{ item }}cn.cloudapp.azure.com"
    ansible_user: "{{ azure_login_names[ansible_node] }}"
    ansible_port: "{{ ssh_port }}"
    ansible_ssh_private_key_file: "{{ playbook_dir }}/{{azure_name_prefix}}/{{azure_name_prefix}}-private.pem"
    private_ip: "{{ azure_subnet.split('.')[0] }}.{{ azure_subnet.split('.')[1] }}.1.{{ item }}"
    groups:
      - managed_nodes
      - control_nodes
  register: ansible_control_node_facts
  with_sequence: start=1 end="{{ student_total }}"

- debug:
    var: ansible_control_node_facts

- name: engine (essentials) mode - setup inventory
  include_tasks: "addhost_engine.yml"
  when:
    - not networking
    - not f5workshop

- name: networking mode - setup inventory
  include_tasks: "addhost_networking.yml"
  when:
    - networking
    - not f5workshop

- name: f5 mode - setup inventory
  include_tasks: "addhost_f5.yml"
  when: f5workshop
