- name: grab facts for control_nodes
  azure_rm_virtualmachine_facts:
    resource_group: "{{azure_name_prefix}}"
    # tags:
    #   - Workshop_ansible:"{{azure_name_prefix}}-ansible"
    name: "{{azure_name_prefix}}.CN.student{{ item }}"
  with_sequence: start=1 end="{{ student_total }}"
  register: ansible_node_facts

- debug:
    msg: "Blah is {{ ansible_node_facts.results[Student] }}"
    # msg: "Blah is {{ ansible_node_facts.results }}"

- name: add ansible node to control_nodes and managed_nodes group
  add_host:
    name: "{{ item..vms.tags.Name }}"
    username: "{{ item..vms.tags.Student }}"
    student: "{{ item..vms.tags.Student }}"
    short_name: "ansible"
    ansible_host: "{{ item..vms.tags.public_ip_address }}"
    ansible_user: "{{ azure_login_names[ansible_node] }}"
    ansible_port: "{{ ssh_port }}"
    ansible_ssh_private_key_file: "{{ playbook_dir }}/{{azure_name_prefix}}/{{azure_name_prefix}}-private.pem"
    private_ip: "{{item..vms.tags.private_ip_address}}"
    groups:
      - managed_nodes
      - control_nodes
  with_items: "{{ ansible_node_facts.results }}"
  # register: ansible_control_node_facts
  # with_sequence: start=1 end="{{ student_total }}"

- debug: var=groups.managed_nodes


- name: engine (essentials) mode - setup inventory
  include_tasks: "addhost_engine.yml"
  when:
    - not networking
    - not f5workshop

- name: networking mode - setup inventory
  include_tasks: "addhost_networking.yml"
  when:
    - networking
    - not f5workshop

- name: f5 mode - setup inventory
  include_tasks: "addhost_f5.yml"
  when: f5workshop
