- name: ensure workshop folder {{azure_name_prefix}} exists
  file:
    path: "{{ playbook_dir }}/{{azure_name_prefix}}"
    state: directory

## These Azure resources are used for every workshop type
## This includes VPC, subnet, Security Group, Internet Gateway and route table
- name: provision Azure resources
  include_tasks: resources.yml

## This duplicates the above when networking workshop uses 2 VPCs
- name: provision networking Azure resources
  include_tasks: resources_networking.yml
  when: networking

## control node setup ###
- name: set control node type
  set_fact:
    ansible_node: "{{ azure_control_node['ansible'] }}"

# - name: find ami for ansible control node
#   ec2_ami_facts:
#     region: "{{ ec2_region }}"
#     owners: "{{ ec2_instance_types[ansible_node].owners }}"
#     filters:
#       name: "{{ ec2_instance_types[ansible_node].filter }}"
#       architecture: "{{ ec2_instance_types[ansible_node].architecture }}"
#   register: amis
#
# - name: save ami for ansible control node
#   set_fact:
#     ansible_control_node_ami: >
#       {{ amis.images | selectattr('name', 'defined') | sort(attribute='creation_date') | last }}
- name: Create a network interface using existing security group and public IP
  azure_rm_networkinterface:
    name: "{{azure_name_prefix}}.student{{ item }}"
    resource_group: "{{azure_name_prefix}}"
    virtual_network: "{{ azure_name_prefix }}-vpc"
    subnet_name: "{{ azure_name_prefix }}-subnet"
    security_group: "{{ azure_name_prefix }}-insecure_all"
    ip_configurations:
      - name: ipconfig1
        public_ip_address_name: "student{{ item }}"
        primary: True
        public_ip_allocation_method: Static
  with_sequence: start=0 end="{{ student_total }}"
  register: network_interface

- name: Create Azure instances for ansible node (control node)
  azure_rm_virtualmachine:
    resource_group: "{{azure_name_prefix}}"
    name: "{{azure_name_prefix}}.student{{ item }}"
    vm_size: "{{ azure_instance_types[ansible_node].vm_size }}"
    admin_username: "{{ azure_login_names['rhel7'] }}"
    ssh_password_enabled: false
    network_interface_names: "{{azure_name_prefix}}.student{{ item }}"
    image:
      offer: "{{ azure_instance_types[ansible_node].offer }}"
      publisher: "{{ azure_instance_types[ansible_node].publisher }}"
      sku: "{{ azure_instance_types[ansible_node].sku }}"
      version: "{{ azure_instance_types[ansible_node].version }}"
    ssh_public_keys:
      - path: /home/azure-user/.ssh/authorized_keys
        key_data: "{{lookup('file', '{{ azure_name_prefix }}-key') }}"
    append_tags: yes
    tags:
      Workshop_ansible: "{{azure_name_prefix}}-ansible"
  with_sequence: start=0 end="{{ student_total }}"
  register: control_output

- debug:
    var: control_output.-

- name: Ensure tags are present
  azure_rm_virtualmachine:
    resource_group: "{{azure_name_prefix}}"
    name: "{{item.1}}"
    state: present
    append_tags: yes
    tags:
      Name: "{{ azure_name_prefix }}-student{{item.0 + 1}}-ansible"
      Workshop_ansible: "{{azure_name_prefix}}-ansible"
      Workshop: "{{azure_name_prefix}}"
      Index: "{{ item[0] }}"
      Student: "student{{item.0 + 1}}"
      # Username: "{{ linklight_user }}"
      # Info: "Username that provisioned this-> {{ linklight_user }}"
      Linklight: "This was provisioned through the linklight provisioner"
      Students: "Student Count {{student_total}}"
      short_name: "ansible"
  with_indexed_items:
    - "{{ control_output.azure_vm.id }}"
  when: control_output.azure_vm.id is not none

## Instance creation
- name: provision ansible engine (essentials) instances
  include_tasks: instances_engine.yml
  when:
    - not networking
    - not f5workshop

- name: provision ansible networking workshop instances
  include_tasks: instances_networking.yml
  when:
    - networking
    - not f5workshop

- name: provision ansible f5 workshop instances
  include_tasks: instances_f5.yml
  when:
    - f5workshop
    - not networking
