- name: grab facts for rtr1
  azure_rm_virtualmachine_facts:
    resource_group: "{{azure_name_prefix}}"
    tags:
      - Name: "{{azure_name_prefix}}-{{username}}-rtr1"
  register: rtr1_facts
  delegate_to: localhost

- name: grab facts for rtr2
  azure_rm_virtualmachine_facts:
    resource_group: "{{azure_name_prefix}}"
      tags:
        - "{{azure_name_prefix}}-{{username}}-rtr2"
  register: rtr2_facts
  delegate_to: localhost

- name: add route to 172.17.0.0/16 subnet on ansible node
  lineinfile:
    path: /etc/sysconfig/network-scripts/route-eth0
    line: "172.17.0.0/16 via {{rtr1_facts.instances[0].private_ip_address}}"
    create: yes
  notify: restart network
  become: yes
  when: "'control_nodes' in group_names"

- name: add route to 172.16.0.0/16 subnet on host1 node
  lineinfile:
    path: /etc/sysconfig/network-scripts/route-eth0
    line: "172.16.0.0/16 via {{rtr2_facts.instances[0].private_ip_address}}"
    create: yes
  notify: restart network
  become: yes
  when: "'managed_nodes' in group_names"
