- name: CREATE STUDENT WEBPAGE
  template:
    src: ./templates/index.html.j2
    dest: "{{ playbook_dir }}/{{ azure_name_prefix }}/{{ azure_name_prefix|lower }}-index.html"
  when: storage_state == 'present'

- name: CREATE AZURE STORAGE ACCOUNT
  azure_rm_storageaccount:
    resource_group: "{{azure_name_prefix}}"
    name: "{{azure_name_prefix|lower}}"
    type: Standard_RAGRS
    kind: StorageV2

- name: CREATE AZURE STORAGE BLOB
  azure_rm_storageblob:
    resource_group: "{{azure_name_prefix}}"
    storage_account_name: "{{azure_name_prefix|lower}}"
    container: "{{azure_name_prefix|lower}}"
    public_access: container
    blob: index.html
    src: "{{ playbook_dir }}/{{ azure_name_prefix }}/{{ azure_name_prefix|lower }}-index.html"
    state: "{{ storage_state }}"
    force: yes
  register: azure_site

# - name: ENABLE WEB HOSTING
#   s3_website:
#    name: "{{azure_name_prefix|lower}}.{{workshop_dns_zone|lower}}"
#    state: "{{ storage_state }}"
#    region: "{{azure_region}}"
#    suffix: "{{ azure_name_prefix|lower }}-index.html"
#   register: s3_site
#   when: storage_state == 'present'

- name: Create a DNS zone
  azure_rm_dnszone:
    resource_group: "{{azure_name_prefix}}"
    name: "{{workshop_dns_zone}}"
    state: present

- name: DNS FOR STUDENT WEBPAGE FOR EASTUS
  azure_rm_dnsrecordset:
    resource_group: "{{azure_name_prefix}}"
    relative_name: www
    state: "{{ storage_state }}"
    zone_name: "{{workshop_dns_zone}}"
    records:
      - entry: "{{azure_name_prefix|lower}}.{{workshop_dns_zone}}"
    record_type: CNAME
  when:
    - azure_region == 'eastus'

- name: DNS FOR WEBPAGE
  azure_rm_dnsrecordset:
    state: "{{ storage_state }}"
    zone_name: "{{workshop_dns_zone}}"
    records:
      - entry: "{{azure_name_prefix|lower}}.{{workshop_dns_zone}}"
    record_type: CNAME
  when:
    - azure_region != 'eastus'

# - name: PUT STUDENT WEBPAGE
#   s3_sync:
#     bucket: "{{azure_name_prefix|lower}}.{{workshop_dns_zone}}"
#     region: "{{azure_region}}"
#     file_root: "{{ playbook_dir }}/{{azure_name_prefix}}"
#     mime_map:
#       .html: text/html
#     permission: public-read
#     include: "{{ azure_name_prefix|lower }}-index.html"
#   when: storage_state == 'present'

- name: SET WEBSITE INFORMATION VARIABLE
  set_fact:
    website_information: |
      - Website created at http://{{azure_name_prefix|lower}}.{{workshop_dns_zone|lower}}
